button {
    font-family: $raleway-font !important;
    font-weight: bold !important;
    color: $clear-grey !important;
    & .MuiButton-label {
        font-size: $font-size-small;
    }
}

.button--link {
    text-decoration: none;
    color: $clear-grey;
}

.button--menu {
    & .MuiSvgIcon-root {
        color: $clear-grey !important;
        font-size: $font-size-large !important;
    }
}

.button--form {
    background-color: $dark-blue !important;
    .save-icon {
        margin: 0 0.2rem;
    }
}

.button--cancel {
    color: $clear-grey !important;
    background-color: red !important;
}

.button--add {
    width: 100%;
    background: $dark-blue !important;
    padding: $s-size 0 !important;
}