.form {
    display: flex;
    flex-direction: column;
    padding: $m-size 0;
}

.form__input {
    margin: $s-size 0 !important;
}

.form__input--image {
    text-align: center;
}

.form--links {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    & .form__input {
        width: 28rem;
    }
    padding: $s_size 0;
    height: auto;
}