* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	color: $dark-grey;
	font-family: $raleway-font, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	font-size: $m-size;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $righteous-font !important;
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: default;
}

.is-active {
	font-weight: bold;
}

p {
	font-family: $raleway-font;
}

label.Mui-focused, .MuiInputBase-input {
	font-family: $raleway-font !important;
}
.MuiInputBase-input {
	font-size: $font-size-xsmall !important;
}
.MuiInputLabel-root {
	font-family: $raleway-font !important;
	font-size: $font-size-xsmall !important;
}
.MuiFormHelperText-contained {
	font-size: 1.1rem !important;
	font-family: $raleway-font !important;
}

.red-background {
	background: red !important;
	color: white !important;
}

@media (max-width: $desktop-breakpoint) {
	p {
		font-size: $font-size-small
	}
	h1 {
		font-size: 3.0rem !important;
	}
	h3 {
		font-size: 2.4rem !important;
	}
}