//Colors
$dark-grey: #333333;
$dark-blue: #455a64;
$clear-grey: #cfd8dc;
$heart-color: #EF2222;

// Font size
$font-size-xlarge: 2.2rem;
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
$font-size-xsmall: 1.2rem;

$font-size-subheader: 2.8rem;

// Font family
$righteous-font: Righteous, monospace;
$raleway-font: Raleway, sans-serif;
$montserrat-font: Montserrat, sans-serif;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$section-size: 7.5rem;

// Sizes
$skill-circle-size: 2.2rem;

// image-size
$sprite-size: 4.2rem;

// Responsive part
$desktop-breakpoint: 50rem;